body {
	background-image: linear-gradient(to right, #006eb4, #0084b4,#006eb4);
}

@media (max-width: 970px) {
  .greeting {
  	display:none;
  }
}

#header {
	height: 75px;
	background: white;
	width:auto;
}

#header .title {
	text-align:center;
}

.content {
	margin-top: 2em;
}

.labelContainer {
	text-align:center;
}

.labelContainer .btn{
	margin-right: 4px;
}

#tweetContainer {
	width:90%;
    margin-right: auto;
    margin-left: auto;
}

#tweetContainer div {
	margin: 0em 1em 0em 1em; 
}


#tweet iframe {
	border: none !important;
	box-shadow: none !important;
}



