body {
	background-image: linear-gradient(to right, #006eb4, #0084b4,#006eb4);
}

#header {
	height: 75px;
	background: white;
}
#header .title {
	text-align:center;
}

.content {
	margin-top: 2em;
}

.labelContainer {
	text-align:center;
}

#tweetContainer div {
	margin: 0em 1em 0em 1em; 
}


/* #tweet { */
/* 	width: 400px !important; */
/* 	margin: 0em 1em 0em 1em; */
/* } */

#tweet iframe {
	border: none !important;
	box-shadow: none !important;
}



